{ 
  "env": {
    "test": {
      "presets": [
        ["@babel/preset-env"]
      ]
    }
  },
  "presets": [
    ["@babel/preset-env", {
      "modules": false,
      "targets": {
        "chrome": 40,
        "ie": 10
      }
    }]
  ]
}